In [16]:
# Importing the libraries
import os
import pandas as pd

# Specifying the directory
os.chdir("/Users/yuriisemenov/Documents/GitHub/RRcourse2023/6. Coding and documentation/Data")

# Importing all sheets in once
excel_file = pd.read_excel("Eurostat_employment_isco.xlsx", sheet_name=None)

isco1 = excel_file["ISCO1"]
isco2 = excel_file["ISCO2"]
isco3 = excel_file["ISCO3"]
isco4 = excel_file["ISCO4"]
isco5 = excel_file["ISCO5"]
isco6 = excel_file["ISCO6"]
isco7 = excel_file["ISCO7"]
isco8 = excel_file["ISCO8"]
isco9 = excel_file["ISCO9"]

# Calculating sums
total_Belgium = isco1["Belgium"] + isco2["Belgium"] + isco3["Belgium"] + isco4["Belgium"] + isco5["Belgium"] + isco6["Belgium"] + isco7["Belgium"] + isco8["Belgium"] + isco9["Belgium"]
total_Spain = isco1["Spain"] + isco2["Spain"] + isco3["Spain"] + isco4["Spain"] + isco5["Spain"] + isco6["Spain"] + isco7["Spain"] + isco8["Spain"] + isco9["Spain"]
total_Poland = isco1["Poland"] + isco2["Poland"] + isco3["Poland"] + isco4["Poland"] + isco5["Poland"] + isco6["Poland"] + isco7["Poland"] + isco8["Poland"] + isco9["Poland"]

0     4391.5
1     4472.2
2     4428.3
3     4473.3
4     4426.3
5     4442.1
6     4458.5
7     4471.1
8     4430.4
9     4471.1
10    4493.7
11    4441.7
12    4436.3
13    4467.4
14    4473.1
15    4496.7
16    4477.9
17    4440.2
18    4490.8
19    4481.4
20    4458.4
21    4483.3
22    4503.1
23    4601.3
24    4498.3
25    4536.1
26    4578.9
27    4645.0
28    4633.4
29    4614.8
30    4715.5
31    4736.0
32    4683.8
33    4769.3
34    4784.9
35    4758.2
36    4741.1
37    4682.0
38    4741.1
39    4711.0
Name: Belgium, dtype: float64

In [31]:
import pandas as pd

dfs = [isco1, isco2, isco3, isco4, isco5, isco6, isco7, isco8, isco9]
for i, df in enumerate(dfs):
    df['ISCO'] = i + 1
all_data = pd.concat(dfs, ignore_index=True)

print(type(all_data))

totals = {'Belgium': total_Belgium, 'Spain': total_Spain, 'Poland': total_Poland}
for country, total in totals.items():
    all_data[f"total_{country}"] = total * 9

all_data['share_Belgium'] = all_data['Belgium'] / all_data['total_Belgium']
all_data['share_Spain'] = all_data['Spain'] / all_data['total_Spain']
all_data['share_Poland'] = all_data['Poland'] / all_data['total_Poland'] 

print(all_data)

<class 'pandas.core.frame.DataFrame'>
        TIME European Union - 28 countries (2013-2020)  Belgium  Czechia  \
0    2011-Q1                                   12850.9    279.0    223.5
1    2011-Q2                                   12834.2    304.7    226.2
2    2011-Q3                                   12763.1    348.8    227.3
3    2011-Q4                                   12668.1    347.9    230.3
4    2012-Q1                                   12197.3    304.0    231.1
..       ...                                       ...      ...      ...
355  2019-Q4                                   19822.2    492.1    323.9
356  2020-Q1                                         :    447.5    313.0
357  2020-Q2                                         :    426.9    303.9
358  2020-Q3                                         :    436.1    305.9
359  2020-Q4                                         :    435.2    295.3

     Denmark   Spain   Italy  Lithuania  Poland  Finland  Sweden  ISCO  \
0       57.6   879.8   896.0      120.0   963.5    137.2   232.6     1
1       58.2   911.6   897.0      118.9   918.4    135.8   236.0     1
2      107.5   881.4   840.1      107.0   913.8    123.5   238.5     1
3       74.1   888.2   764.9      107.8   935.9    106.6   246.1     1
4       50.6   848.8   762.2      107.5   952.5    102.5   249.8     1
..       ...     ...     ...        ...     ...      ...     ...   ...
355    301.2  2478.6  2552.2      116.2   922.4    154.2   217.4     9
356    286.4  2434.4  2421.7      118.2   883.4    139.9   217.5     9
357    268.5  2163.0  2328.3      110.8   885.6    143.4   210.3     9
358    280.1  2252.1  2512.0      110.9   887.8    153.0   218.5     9
359    290.9  2283.1  2478.2      109.8   851.8    134.4   210.6     9

     total_Belgium  total_Spain  total_Poland  share_Belgium  share_Spain  \
0          39523.5     163522.8      135243.9       0.007059     0.005380
1          40249.8     165360.6      137209.5       0.007570     0.005513
2          39854.7     164172.6      138182.4       0.008752     0.005369
3          40259.7     161065.8      137347.2       0.008641     0.005515
4          39836.7     157581.0      135499.5       0.007631     0.005386
..             ...          ...           ...            ...          ...
355            NaN          NaN           NaN            NaN          NaN
356            NaN          NaN           NaN            NaN          NaN
357            NaN          NaN           NaN            NaN          NaN
358            NaN          NaN           NaN            NaN          NaN
359            NaN          NaN           NaN            NaN          NaN

     share_Poland
0        0.007124
1        0.006693
2        0.006613
3        0.006814
4        0.007030
..            ...
355           NaN
356           NaN
357           NaN
358           NaN
359           NaN

[360 rows x 18 columns]